@charset "utf-8";
.detail-container{
	margin: 0 auto;
	min-height: 500px;
	padding-bottom: 30px;
}
.detail-title{
	margin: 0 30px;
}
.detail-titlein{
	width: 100%;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
}
.detail-img{
	display: block;
	width: 1140px;
	margin: 0 auto;
	min-height: 500px;
}
.detail-authorwrap{
	margin: 30px 30px 0;
	border-top: 1px solid #ccc;
	min-height:120px;
}
.detail-authheadimg{
	margin-top: 30px;
	width: 120px;
	height: 120px;
}
.detail-authinfo{
	margin-left: 150px;
	margin-top: 30px;
	min-height: 120px;
}
.detail-authname{
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.detail-authintro{
	padding-top: 15px;
}
