@charset "utf-8";
.p-index-topay-container{
	margin:0 auto;
	min-height: 500px;
	padding-bottom: 30px;
}
.p-index-topay-ctrlwrap{
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin: 0 30px;
}
.p-index-topay-allcheck{
	display: inline-block;
	padding: 10px 15px;
	margin-top: 30px;
	font-size: 16px;
	position: relative;
}
.p-index-topay-allcheckimg{
	position: absolute;
	top: 10px;
	left: 15px;
	width: 23px;
	height: 23px;
}
.p-index-topay-containerin{
	display: inline-block;/*防止里面的元素加上边距出现的父级一起下滑的现象*/
	width: 100%;
}
.p-index-topay-itemwrap{
	margin: 30px 30px 0;
	height: 160px;
}
.p-index-topay-itemimg{
	width: 160px;
	height: 160px;
}
.p-index-topay-iteminfo{
	margin-left: 190px;
	min-height: 160px;
}
.p-index-topay-itemname{
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.p-index-topay-itemintro{
	padding-top: 15px;
}
