@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: 0;
	outline: 0;
}
html,body{
	background-color: #cdcdcd;
}
/*前缀区分*/
/*公共*/
.pub-floatl{
	float: left;
}
.pub-floatr{
	float: right;
}
.pub-clboth{
	display: block;
	clear: both;
}
.pub-top{
	height: 40px;
}
.pub-topin{
	margin:0 auto;
}
.pub-topp{
	line-height: 40px;
}
.pub-logo{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-top: 40px;
}
.pub-topwrap{
	height: 410px;
}
.pub-topwrapin{
	margin: 0 auto;
}
.pub-searchwrapspan{
	display: inline-block;
	padding: 0 0 20px;
}
.pub-searchwrap{
	margin-left:160px;
	padding-top:40px ;
}
.pub-searchwrap-marginr{	
	margin-right: 360px;
}
.pub-searchwrapin{
	height: 58px;
}
.pub-ads{
	width: 120px;
	height: 100px;
	margin-top: 40px;
}
.pub-navwrap{
	margin-top: 40px;
	height: 60px;
}
.pub-navwrapspan{
	line-height: 60px;
	margin-left: 20px;
}
.pub-footer{
	height: 300px;
	margin-top: 60px;
}
.pub-totop{
	width:50px;
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 30px;
	text-align: center;
	line-height: 50px;
}
.pub-appwrap{
	min-height: 500px;
	margin-top: -170px;
}
.pub-checkbox{
	width: 23px;
	height: 23px;
	vertical-align: top;
	margin-right: 10px;
}
.pub-checkborder{
	border: 1px solid #0084C7;
	background-color: #eee;
}
.pub-checkborderitem{
	border-left: 1px solid #0084C7;
	border-right: 1px solid #0084C7;
	background-color: #eee;
}
.pub-itemhoverborder:hover{
	border-left:1px solid steelblue;
	background-color: #eee;
	border-right:1px solid steelblue;
}
.pub-endbutton{
	display: inline-block;
	padding: 10px 15px;
}
.pub-showhidden{
	visibility: hidden;
}
.pub-Tcolorwhite{
	color: white;
}
.pub-colortan{
	background-color: tan;
}
.pub-color0084C7{
	background-color: #0084C7;
}
.pub-colorwhite{
	background-color: white;
}
.pub-colorEEE{
	background-color: #eee;
}
.pub-width1200{
	width: 1200px;
}
/*插件*/
#nalimgturn{
	height: 100%;
	position: relative;
	margin: 0px 0 0 0;
	background: burlywood;
}
	.nalimgdiv{
		width: 100%;
		height: 100%;
	}
	.nalimgdiv-in{
		display: block;
	}
	.nalimgdiv>p{
		width: 100%;
		height: 100%;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}
	.nalimgdiv>p>span{
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
		height: 280px;
		width: 200px;
		background: mediumturquoise;
	}
	.naltabturn{
		width: 200px;
		height: 30px;
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.naltabturn>li{
		width: 30px;
		height: 30px;
		float: left;
		margin: 0 10px;
		background: wheat;
	}
	.naltabturn-in{
		background: lightsteelblue !important;
	}
	.nalleftbtn,.nalrightbtn{
		width: 40px;
		height: 55px;
		position: absolute;
		top: 50%;
		margin-top:-27.5px;
		border: none;
	}	
	.nalleftbtn{
		left: 0;
	}
	.nalrightbtn{
		right: 0;
	}


