@charset "utf-8";
.payformember-container{
	min-height: 600px;
	padding-bottom: 30px;
	margin: 0 auto;
}
.payformember-paytype{
	width: 50%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}
.payformember-paytypespan{
	padding: 10px 0;
	border-bottom: 3px solid #007AFF;
}
.payformember-payingwrap{
	padding: 0 30px;
}
.payformember-paying{
	display: inline-block;
	width: 100%;
	margin-top: 60px;
}
.payformember-usetime,.payformember-custom{
	font-size: 18px;
	width: 135px;
	text-align: left;
	margin-bottom: 30px;
	display: inline-block;
}
.payformember-usetypewrap{
	min-height: 60px;
}
.payformember-usetypewrap-More720{
	margin-top: -60px;
	margin-left: 170px;
}
.payformember-titleright-More720{
	text-align: right;
}
.payformember-usetype{
	display: inline-block;
	padding: 10px 15px;
	margin-right: 30px;
	margin-bottom: 30px;
	font-size: 18px;
}
.payformember-usetypecustom{
	width: 80px;
	padding: 10px 15px;
	border: 1px solid #0073EA;
	font-size: 18px;
	margin-right: 20px;
}

.payformember-submit{
	margin-top: 30px;
	font-size: 18px;
	width: 300px;
	text-align: center;
}
.payformember-submit-More720{
	margin-left: 170px;
}
