@charset "utf-8";
.p-index-pub-container{
	min-height: 600px;
	margin: 0 auto;
}
.p-index-pub-leftheadimgandtitle{
	width: 200px;
	min-height: 600px;
	border-right: 1px solid #007AFF;
}
.p-index-pub-headimg{
	display: block;
	width: 90px;
	height:90px;
	margin: 30px auto 0;
}
.p-index-pub-lefttitle{
	padding-bottom: 30px;
}
.p-index-pub-lefttitle>li{
	padding-top: 30px;
	text-align: center;
	font-size: 18px;
}
.p-index-pub-small{
	font-size: 14px !important;
}
.p-index-pub-mtop{
	margin-top: -20px;
}
.p-index-pub-cont{
	margin-left: 200px;
	min-height: 600px;
	border-left: 1px solid #007AFF;
	padding-bottom: 30px;
}

